@import '../../sass/variables.scss';
@import "../../sass/mixins.scss";

.VideoSection {
    display: flex;
    margin: 1rem 0;

    &__link {
        text-decoration: none;
    }

    &__video-image {
        height: 6rem;
        width: 10rem;
        border-radius: 0.4rem;
        margin-right: 0.5rem;
        flex-shrink: 0;
    }

    &__video-title {
        color: $black
    }

    &__video-author {
        margin-top: -0.5rem;
        color: $silver
    }


}


@include width-1000px {
    .VideoSection {
        width: 25rem
    }
   
}
