@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.Video {

    overflow-x: hidden;
    height: 30rem;
    background-color: black;

    &__video-container {
        position: relative;
        height: 30rem;
        background-color: blue;
        width: 55rem;
        margin: 0 auto
        
    }

    &__video {
        width: 55rem;
        height: 100%;
      
        position: relative;
    }

    &__play-btn-container {
        background-color: rgba(17, 17, 17, 0.76);
        width: 3.75rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.4rem;
        position: absolute;
        bottom: 5%;
        left: 5%
    }

    &__icon-container {
        background-color:rgba($color: $black, $alpha: 0.95);
        width: 4rem;
        height: 3rem;
        top: 85%;
        right: 90%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        justify-content: space-evenly;

        &--scrubber {
            right: 20%;
            width: 65%
        }

        &--two {
            width: 8rem;
            right: 2.5%
        }
    }
    
    &__icon {
        width: 1.25rem;
        margin-left: 0.2rem;

        &--scrubber {
            width: 90%;
            height: 0.4rem;
            background-color: white;
            border-radius: 100rem;
        }
        
        
        
    }


    &__play-progress-container {
    
        width: 45%;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 5%;
        left: 30%;
        background-color: rgba(17, 17, 17, 0.76);
        border-radius: 0.4rem;
    }

    &__play-progress{
        height: 0.4rem;
        width: 75%;
        background-color: black;
        border-radius: 100rem;
    }
}



@include width-430px {
    .Video {
        &__play-progress-container {
            width: 60%;
            left: 20%
        }
    }
   
}




@include width-max-768px {
    .Video {

        height : 22rem;
        &__video-container {
            height: 20rem;   
        }

        &__icon-container {
           
            top: 80%;
            right: 85%;
    
            &--scrubber {
                right: 30%;
                width: 50%
            }
    
            &--two {
                width: 7rem;
                right: 7%
            }
        }
    }
   
}

@include width-550px {
    .Video {

        &__icon {

            width: 1rem;
            &--scrubber {
                width: 85%;
                height: 0.2rem;
            }
        }

        &__icon-container {
          
            top: 80%;
            right: 85%;
            width: 3rem;
            height: 2.5rem;
    
            &--scrubber {
                right: 37.5%;
                width: 40%;
                
            }
    
            &--two {
                width: 7rem;
                right: 7%;
            
            }
        }
    }
}

@include width-400px {
    .Video {

        &__icon {
            width: 1rem;
            &--scrubber {
                width: 85%;
                height: 0.3rem;
            }
        }

        &__icon-container {
          
            top: 82.5%;
            right: 80%;
            width: 3rem;
            height: 2rem;
    
            &--scrubber {
                right: 35%;
                width: 40%;
                
            }
    
            &--two {
                width: 5rem;
                right: 5%;
            
            }
        }
    }
}

@include width-1000px-max {
    .Video {
        background-color: white;
        &__video-container {
            width: 100%
        }

        &__video {
            width: 100%
        }
    }
}


/*

@include width-1000px {
    .Video {
        background-color: black;

        &__video-container {
            margin: 0 auto;
            width: 75%;
            height: 30rem;
            background-color: yellow;
        }

        &__video {
            padding: 0;
            
        }
        
    }
   
}

*/