@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';


.Nav {
    height: 5rem;

    &__content-container {
        height: 100%;
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-container {
        display: flex;
        height: 100%;
        align-items: center;
    }

    &__logo {
        display: flex;
        width: 10rem
    }

    &__input-main-container {
        display: flex;
       justify-content: center;
       align-items: center;
    }

    &__input{
        height: 3rem;
        width: 14rem;
        border: 0.1rem solid $mercury;
        border-radius: 0.4rem;
        padding: 0 2.75rem;
        background: url('./Icon-search.svg') no-repeat scroll 1rem 50%; 
        background-color: white;
        
        &:focus {
            outline: none
        }
    }

    &__btn-container {
        display: flex;
        align-items: center;
        margin-left: 2rem;
    }

    &__user-image {
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        margin-left: 1.5rem;
    }

    &__upload-btn {
        height: 3rem;
        width: 9rem;
        background-color: $brainflix-blue;
        color: white;
        text-transform: uppercase;
        border: none;
        border-radius: 0.4rem;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }
}

@include width-900px {
    .Nav {
        height: 7.5rem;

        &__content-container {
            width: 95%
        }

        &__input {
            height: 4.5rem;
            width: 16rem
        }

        &__upload-btn {
            height: 4.5rem
        }
    }
}

@include width-820px {
    .Nav {
        height: 100%;

        &__content-container {
            flex-direction: column;
        }

        &__input-main-container{
            flex-direction: column;
            width: 100%
        }

        &__logo-container {
            margin: 1rem 0;
        }
        

        &__input-container {
            width: 100%
        }

        &__btn-container {
           width: 100%;
           margin: 0 auto;
           margin-bottom: 1rem;
        }

        &__input {
            height: 4rem;
            margin-bottom: 1rem;
            width: 100%
        }

        &__upload-btn {
            height: 4rem;
            width: 100%;

        }
    }
}


/*
@include width-768px {
    .Nav {
        display: flex;
        padding: 0 1rem;
        align-items: center;
        justify-content: space-between;

        &__upload-container {
            justify-content: flex-end;
            width: 30%;
            margin-right: 1.25rem;
        }

        &__to-right {
            display: flex;
            align-items: center;
            justify-content: space-between;
    
        }

        &__upload-btn {
            
            width: 10rem;
            margin-right: 1rem;
            padding: 0rem 2rem;
            display: flex;
            justify-content: center;
            font-size: 1rem;

            & span {
                margin-left: 1.5rem;
                margin-right: 0.5rem;
                
            }
        }

        &__btn-content {
            background-color: firebrick;
            display: flex;
            text-align: center;
        }

        &__search-container {
            justify-self: self-end;
        }

        &__search-input {
            
        }

        &__search-container {
            height: 50%
        }

        &__search-input {

        }
    }
}


/*

.Nav {
    color: yellow;

    &__logo-container{
        display: flex;
        justify-content: center;
    }

    &__logo {
       padding: 1rem;
       width: 13rem
    }

    &__search-container{
        display: flex;
        justify-content: center;
    }

    &__search-input {
        width: 90%;
        padding: 1rem;
        border: 0.1rem solid $mercury;
        border-radius: 0.3rem;
        color: $black;
        font-size: 1.25rem;
        transition: all 1s;

        &:focus {
            outline: none;
            border: 0.1rem solid $black;
        }
    }

    &__upload-container {
        width: 90%;
        margin: 1rem auto;
        display: flex;
        justify-content: space-between;
    }

    &__upload-btn {
        padding: 1rem 4rem;
        width: 75%;
        border-radius: 0.5rem;
        border: none;
        background-color: $brainflix-blue;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.20rem;
        display: flex;
        align-items: center;
        
        & span {
            font-weight: 300;
            font-size: 1.75rem;
            margin-left: -1rem;
            margin-right: 1rem;
        }
    }

    &__user-image {
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
    }
}


*/