@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.VideoInfo {

    &__container {
    
        width: 90%;
        margin: 0 auto;
    }

    &__info-container {
        width: 100%;
        margin: 0 auto;
        color: $black;
        border-bottom: 0.1rem solid $silver;
        
    }

    &__views-container{
        display: flex;
    }

   

    &__title {
        font-size: 1.75rem;
        font-weight: 900;
        
    }

    &__author-container {
        padding: 1rem 0 3rem 0;
        display: flex;
        align-items: center;
    }

    &__author {
        font-size: 1.15rem;
    }

    &__date {
        font-size: 0.95rem;
        font-weight: 400;
        color: $silver;
        margin-left: 0.75rem;
    }

    &__stats {
        @extend .VideoInfo__date;
        float: right;
        margin-right: .25rem;
        font-size: 0.9rem;
        display: flex;
        margin-top: .3rem;
        
    }

    &__description {
        @extend .VideoInfo__info-container;
        padding-top: 1rem;
        border: none;
        line-height: 1.35rem;
    }

    &__stats-icon {
        width: 1rem;
        margin-right: 0.2rem;
    }

    &__stats-container {
        margin-left: auto;
    }
}



@include width-768px {
    .VideoInfo {
        &__title {
            font-size: 2.75rem;
            padding-top: 2rem;
     
        }

        &__description-container {
            width: 80%
        }
    }
   
}

@include width-1000px {
    .VideoInfo {
        &__container {
            width: 100%
        }
        &__info-container {
           
           width: 100%;
        }
    }
   
}

@include width-600px {
    .VideoInfo {
        &__author-container {
            flex-direction: column;
            align-items: flex-start;
        }
        
        &__stats-container {
            margin-left: 0;
            margin-top: 1rem;
        }
        
    }
}

