@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.UploadForm {

    margin-top: 2rem;

    &__container {
        width: 90%;
        margin: 0 auto
    }

    &__input-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    &__btn {
        width: 100%;
        margin-bottom: 1rem;
        cursor: pointer;
    } 

    &__label {
        text-transform: uppercase;
        color: $silver;
        margin-bottom: 0.2rem;

    }

    &__input {
        padding: 0.8rem;
        border-radius: 0.2rem;
        border: 0.1rem solid $mercury;
        background-color: $alabaster;
        font-size: 1rem;
        color: black;

        &--textarea {
            height: 10rem
        }
    }

    &__btn {
        padding: 1.2rem;
        text-transform: uppercase;
        border: none;
        border-radius: 0.3rem;
        font-weight: 400;
        color: white;
        font-size: 1.2rem;

        &--upload {
            background-color: $brainflix-blue
        }

        &--cancel {
            background-color: white;
            color: $black
        }
    }
}

@include width-min-600px {
    .UploadForm {
        

        &__btn-container {
            display: flex;
            justify-content: flex-start;
            flex-direction: row-reverse;
            border-top: 0.1rem solid $mercury;
            padding-top: 3rem;
            margin-top: 4rem;
        }

        &__btn {
            width: 15rem;
            margin-left: 1rem;
            

            &--cancel {
                color: $brainflix-blue;
                font-weight: 900;
            }

        }
    }
}

@include width-1000px {
    .UploadForm {

        float: right;
        margin-top: -15rem;
        width: 100%;

        &__input-container {
            width: 55%;
            margin-left: auto;
        }

        &__input {
            &--textarea {
                height: 7rem
            }
        }
    }

    
}

@include width-1200px {
    .UploadForm {
        &__input-container {
            width: 62.5%;
            margin-left: auto;
        }
    }

}

@include width-1400px {
    .UploadForm {
        &__input-container {
            width: 67.5%;
            margin-left: auto;
        }
    }

}



// bb5b8d57-5d03-4198-9a95-61ee9d08395f